/*
 * Copyright 2012 Free Electrons
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
/include/ "imx28.dtsi"

/ {
	model = "Global Cache Onbox";
	compatible = "global cache,onbox", "fsl,imx28";

	memory {
		reg = <0x40000000 0x08000000>;
	};

	apb@80000000 {
		apbh@80000000 {
			pinctrl@80018000 {
				led_pins_onbox: leds@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						0x3043 /* MX28_PAD_AUART1_RX__GPIO_3_4 */
						0x1123 /* MX23_PAD_LCD_RESET__GPIO_1_18 */

					>;
					fsl,drive-strength = <0>;
					fsl,voltage = <1>;
					fsl,pull-up = <0>;
				};

				reset_btn_pins: reset_btn@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						0x10e3 /* MX23_PAD_LCD_D14__GPIO_1_14 */
					>;
					fsl,drive-strength = <0>;
					fsl,voltage = <1>;
					fsl,pull-up = <1>;
				};

				usb0_otg_onbox: otg-10036@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						0x0142 /* MX28_PAD_GPMI_READY0__USB0_ID */
					>;
					fsl,drive-strength = <0>;
					fsl,voltage = <1>;
					fsl,pull-up = <0>;
				};

				usb_pins_cfa10037: usb-10037@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						0x0073 /* MX28_PAD_GPMI_D7__GPIO_0_7 */
					>;
					fsl,drive-strength = <0>;
					fsl,voltage = <1>;
					fsl,pull-up = <0>;
				};

				mac0_pins_cfa10037: mac0-10037@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						0x2153 /* MX28_PAD_SSP2_D5__GPIO_2_21 */
					>;
					fsl,drive-strength = <0>;
					fsl,voltage = <1>;
					fsl,pull-up = <0>;
				};
			};

			ssp0: ssp@80010000 {
				compatible = "fsl,imx28-mmc";
				pinctrl-names = "default";
				pinctrl-0 = <&mmc0_4bit_pins_a
					&mmc0_cd_cfg &mmc0_sck_cfg>;
				bus-width = <4>;
				status = "okay";
			};
		};

		apbx@80040000 {
			duart: serial@80074000 {
				pinctrl-names = "default";
				pinctrl-0 = <&duart_pins_b>;
				status = "okay";
			};

			i2c0: i2c@80058000 {
				pinctrl-names = "default";
				pinctrl-0 = <&i2c0_pins_b>;
				clock-frequency = <400000>;
				status = "okay";
			};

			usbphy0: usbphy@8007c000 {
				status = "okay";
			};

			usbphy1: usbphy@8007e000 {
				status = "okay";
			};

			lradc: lradc@80050000 {
				status = "okay";
			};
		};
	};

	ahb@80080000 {
		usb0: usb@80080000 {
			pinctrl-names = "default";
			pinctrl-0 = <&usb0_otg_onbox>;
			status = "okay";
			dr_mode = "peripheral";
			phy_type = "utmi";
		};

		usb1: usb@80090000 {
			vbus-supply = <&reg_usb1_vbus>;
			pinctrl-0 = <&usbphy1_pins_a>;
			pinctrl-names = "default";
			status = "okay";
		};

		mac0: ethernet@800f0000 {
			phy-mode = "rmii";
			pinctrl-names = "default";
			pinctrl-0 = <&mac0_pins_a
				&mac0_pins_cfa10037>;
			phy-reset-gpios = <&gpio2 21 0>;
			phy-reset-duration = <100>;
			status = "okay";
		};
	};

	regulators {
		compatible = "simple-bus";

		reg_usb1_vbus: usb1_vbus {
			compatible = "regulator-fixed";
			pinctrl-names = "default";
			pinctrl-0 = <&usb_pins_cfa10037>;
			regulator-name = "usb1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio0 7 1>;
		};
	};

	gpio_keys {
		compatible = "gpio-keys-polled";
		pinctrl-names = "default";
		pinctrl-0 = <&reset_btn_pins>;
		poll-interval = <10>;
		#address-cells = <1>;
		#size-cells = <0>;

		reset_button {
			label = "reset_button";
			gpios = <&gpio1 14 1>;
			debounce-interval = <10>;
			linux,code = <0x198>;
		};
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&led_pins_onbox>;

		power {
			gpios = <&gpio3 4 0>;
			default-state = "on";
		};

		user {
			label = "Heartbeat";
			gpios = <&gpio1 18 0>;
			linux,default-trigger = "heartbeat";
		};
	};

	temp {
		compatible = "fsl,mxs-internal-temp";
		io-channels = <&lradc 8>, <&lradc 9>;
		io-channel-names = "min", "max";
	};
};
